<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="allContent" class="expanded">
    <h1>Finally, <%= shownUser.preferredName?.length > 0 ? shownUser.preferredName : shownUser.username %>, create a new password</h1>
    <div class="quote"><h4><em>Your reset token is <span id="reset-token"><%= resetToken %></span>, and your user ID is <span id="user-id"><%= shownUser._id %></span></em></h4></div>
    <form autocomplete="on" action="<%= `/auth/reset-password/${shownUser._id}/${resetToken}` %>" method="POST">
        <label for="password"><h4>New password</h4></label>
            <div>
                <input type="password" id="new-password" name="password" value="" placeholder="New Password" autofocus="autofocus" oninput="validatePasswordForm();" class="password" autocomplete="new-password">
                <p class="message-display" id="new-password-display-1"></p>
            </div>
        <h4>Confirm new password</h4>
            <div>
                <input type="password" id="password-confirmation" placeholder="Confirm Password" oninput="validatePasswordForm();" class="password">
                <p class="message-display" id="new-password-display-2">Here we will tell you whether your passwords match</p>
            </div>
            <div>
                <button id="visibility-toggler" type="button" onclick="togglePasswordVisibility();">Show passwords</button>
                <button id="password-submitter" class="inactive" disabled>Save Password</button>
            </div>
            <p class="message-display quote" id="pw-change-response"></p>
    </form>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/nav.js"></script>
<script src="scripts/userSettings.js"></script>

</body></html>