<%- include("../partials/wikiHeader") %>
<span id="hidden-issue-id"><%= issue._id %></span>
    <div>
        <div id="name-container">
            <h1 class="topic-name mutable data"><%= issue.name %></h1>
        </div>
        <div id="image-container">
            <img id="topic-image" class="portrait" src=<%= `${issue.image}` %>>
        </div>
        <% if(currentUser){ %>
            <div id="editing-block">
                <span id="return-message"></span>
                <a id="edit-button" onclick="toggleEditing();"><button>Edit page</button></a>
                <a id="cancel-button" onclick="stopEditing();" class="hidden"><button>Cancel</button></a>
            </div>
            <div id="discussion-block">
                <a href="<%= `/talk/${issue.talkpage}` %>"><button>Discuss this issue</button></a>
            </div>
        <% } %>
        <ul>
        <li id="about">
            <h2>About</h2>
            <div id="description">
                <div id="description-text-container" class="mutable data">
                    <div id="description-text"><%- issue.info %></div>
                </div>
                <% if(currentUser){ %>
                    <form id="description-editor-container" name="description-form" class="hidden mutable">
                        <input type="text" id="description-editor" name="description-html"></input>
                    </form>
                <% } %>
            </div>
        </li>
        <% if(issue.identifier){ %>
            <li id="identification">This issue was first identified by <a href="<%= `users/${issue.identifier.username}` %>"><%= issue.identifier.username %></a> on <%= new Intl.DateTimeFormat('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}).format(issue.identificationDate) %></li>
        <% } %>
        <li id="editors">
            Editors: 
            <% for(let i = 1; i < issue.editors.length -1; i++){ %>
                <a href="<%= `/users/${issue.editors[i].username}` %>"><%= issue.editors[i].username %></a>, 
            <% } %>
            <% if(issue.editors.length > 1){ %>
                and 
            <% } if(issue.editors.length > 0){ %>
            <a href="<%= `/users/${issue.editors[issue.editors.length-1].username}` %>"><%= issue.editors[issue.editors.length-1].username %></a>.
            <% } else { %>
                none.
            <% } %>
        </li>
        <li id="issues">
            <h2>Issues that contribute to <%= issue.name %></h2>
            <% if(issue.issues && issue.issues.edges.length > 0 ) { %>
                <p>The Magnova community says the following issues give rise to <%= issue.name %>. Addressing this issue could be accomplished by dealing with the following sub-issues.
                <% if(currentUser) { %>
                    If you agree that <%= issue.name %> is caused by a given issue below, press the "Sub-issue" button next to it. If you think they are not actually related, click the "Not" (a sub-issue) button.
                <% } else { %>
                    (Registered users can upvote/downvote these connections.)
                <% } %>
                </p>
            <% } %>
                <div id="connections-are-empty">No links here yet! <% if(!currentUser){ %>Log in to help break this issue down. <% } else { %> Break this issue down by identifying its causes: <% } %> </div>
                <div id="connections-container">
                    <div id="issue-connections">
                    </div>
                    <% if(currentUser) { %>
                        <div id="issue-searchbar">
                            <div class="searchbar-heading">Identify sub-issue of "<span class="link-source-name"><%= issue.name %></span>"</div>
                            <input type="text">
                            <div id="found-issue-links"></div>
                        </div>
                    <% } %>
                </div>
        <li id="projects">
            <h2>Projects addressing <%= issue.name %></h2>
            <% if(issue.projects && issue.projects.edges.length > 0){ %>
                <p>The following projects have been created by the Magnova community to address this issue.
                <% if(currentUser){ %>
                    If you think a project is important to addressing this issue, support it with an upvote. If you disagree with it or think it won't help with this issue, downvote it.
                <% } else { %>
                    (Registered users can upvote/downvote which projects they want to see implemented.)
                <% } %>
                </p>
            <% } %>
            <div id="projects-are-empty">No projects here yet. <% if(!currentUser){ %>Log in to create a new project. <% } else { %> Help solve this problem by finding an existing project that addresses this issue, or by creating a new project! <% } %> </div>
            <div id="projects-container">
                <div id="project-list"></div>
                <% if(currentUser) { %>
                    <div id="project-searchbar">
                        <div class="searchbar-heading">Identify project that deals with "<span class="link-source-name"><%= issue.name %></span>"</div>
                        <input type="text">
                        <div id="found-project-links"></div>
                    </div>
                    <div id="project-submission">
                        <h2>
                            Create a Project
                        </h2>	
                        <div id="project-submitter">
                            <form action="/project" method="post">
                                <div class="form-group">
                                    <input type="text" placeholder="Project name" name="project[name]">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Image URL" name="project[image]">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Description" name="project[info]"></textarea>
                                </div>
                                <button type="submit">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </li>
        <!-- <h2>Backend Data</h2>
        <% let keys = ["name", "image", "info", "active", "identifier", "identificationDate", "editors", "talkpage", "harms", "resources", "instances", "issues", "projects"]; %>
        <% for(key of keys){ %>
            <li><%= key %> : <%= issue[key] %></li>
        <% } %>
        <p class="hidden issueID"><%= issue._id %></p>
        </ul> -->
        <div id="qr">
            <img src=<%= `https://api.qrserver.com/v1/create-qr-code/?data=${encodeURI(currentHost + currentURL)}&amp;size=100x100` %> alt="" title="<%= issue.name %>" />
            <h3>QR Code</h3>
            <p>This QR code links to this page. Print stickers, add it to fliers, or chalk it onto your driveway.</p>
        </div>
        
    </div>
    <!-- <a href=<%= `issue/report/${issue._id}` %>><button>Report issue</button></a> -->


<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/wiki.js"></script>
<script src="https://cdn.tiny.cloud/1/f7o04qadc9hhjre2my3ep3ae1qdzax2od04t9ncrm7wold54/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="scripts/wikiEditor.js"></script>
<%- include("../partials/footer") %>