<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/wiki.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="header-links">
    <a href="/wiki">Return to Wiki</a>
</div>
<div id="allContent" class="expanded">
    <section id="intro">
        <h1>Magnova Projects Portal</h1>
        <p>This is where you will be able to create and edit projects (and local implementations of projects). <a href="/users/lavra" title="they/them">Lavra</a> will be programming a number of features to help connect people to the action that's important, such as: </p>
        <ul>
            <li>
                An interface for measuring the impact of project implementations and extrapolating their potential impact if pulled off worldwide
            </li>
            <li>
                Skill tracking that matches you with challenges that are familiar or will help you hone skills you're interested in developing
            </li>
            <li>
                Sorting algorithms to help you reduce specific harms in the world, or just find people in your neighborhood who need help.
            </li>
        </ul>
        <p>Ultimately, the goal is to make a game out of activism, socioforming a process that's more fun and effective for grassroots purposes than corporate-aimed project management suites. Projects provide a singular place to collect information on strategy, motivation, and skills that are relevant to pulling off some plan. This organizational structure makes it possible for ordinary people to just. do. it. without depending on corporations or the government.</p>
    </section>
    <section>
        <% if(projects?.length > 0){%>
            <h2>Existing Projects</h2>
            <p></p>
            <div id="project-browse">
                <% projects.forEach(function(project){ %>
                    <div class="project-snapshot" title="<%= project.name %>">
                        <a href="project/<%=project._id%>">
                            <div class="project-thumbnail"><img src="<%=project.image%>"></div>
                            <h4>
                                <% if(project.name.length <= 30){ %>
                                    <%= project.name %>
                                <% } else { %>
                                    <%= `${project.name.slice(0, 26)}...` %>
                                <% } %>
                            </h4>
                        </a>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </section>
    <hr>
    <section id="submission">
        <h2>Invent/Amplify</h2>
        <div id="project-submission">
            <h2>
                Create a New Project
            </h2>	
            <div id="project-submitter">
                <form action="/project" method="post">
                    <div class="form-group">
                        <input type="text" placeholder="Project name" name="project[name]">
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="Image URL" name="project[image]">
                    </div>
                    <button type="submit">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </section>
    <hr>
    <section id="external-links">
        <h2>Other project hubs</h2>
        <p>Magnova is far from the only initiative meant to amplify the projects that activists have done to success. Here's an opportunity for mutual aid: use Magnova Project pages to link to pages on these other websites. Listen to the lessons they teach and incorporate their experiences into templates for even better projects. Or, just dive right into the work these other groups are doing. Every bit helps!</p>
        <ul>
            <li><a href="https://moneylesssociety.com/get-involved">Moneyless Society</a></li>
            <li><a href="https://www.compassiongames.org/">Compassion Games</a></li>
            <li><a href="https://www.onecommunityglobal.org/">One Community Global</a></li>
        </ul>
    </section>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/wiki.js"></script>
<script src="scripts/projectManager.js"></script>
<script src="scripts/nav.js"></script>
</body></html>