<%- include("../partials/projectHeader") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/projects.css">
<span id="hidden-project-id"><%= project._id %></span>
    <div>
        <div id="name-container">
            <h1 class="topic-name mutable data"><%= project.name %></h1>
        </div>
        <div id="overview-area">
            <div id="table-of-contents">
                <a onclick="document.querySelector('#about').scrollIntoView({behavior: 'smooth'});">About</a>
                <a onclick="document.querySelector('#issues').scrollIntoView({behavior: 'smooth'});">Issues</a>
                <a onclick="document.querySelector('#tasks').scrollIntoView({behavior: 'smooth'});">Tasks</a>
                <a onclick="document.querySelector('#qr').scrollIntoView({behavior: 'smooth'});">QR Code</a>
            </div>
            <div id="image-container">
                <img id="topic-image" class="portrait" src=<%= `${project.image}` %>>
            </div>
        </div>
        <% if(currentUser){ %>
            <div id="editing-block">
                <span id="return-message"></span>
                <a id="edit-button" onclick="toggleEditing();"><button>Edit page</button></a>
                <a id="cancel-button" onclick="stopEditing();" class="hidden"><button>Cancel</button></a>
            </div>
            <div id="discussion-block">
                <a href="<%= `/talk/${project.talkpage}` %>"><button>Discuss this project</button></a>
            </div>
        <% } else { %>
            <p><em>Log in to discuss and edit this project</em></p>
        <% } %>
        <ul>
        <hr>
        <li id="about">
            <h2>About</h2>
            <div id="description">
                <div id="description-text-container" class="mutable data">
                    <div id="description-text"><%- project.info %></div>
                </div>
                <% if(currentUser){ %>
                    <form id="description-editor-container" name="description-form" class="hidden mutable">
                        <input type="text" id="description-editor" name="description-html"></input>
                    </form>
                <% } %>
            </div>
            
            <% if(currentUser && currentUser.username == "lavra"){ %>
                <button id="edit-loader" onclick="toggleRolling();">Edit History</button>
                <div id="rolling-tray" class="hidden">
                    <button id="back-roller" onclick="rollBack();">Roll back</button>
                    <button id="forward-roller" onclick="rollForward();">Roll forward</button>
                    <% if(currentUser && currentUser.username == "lavra"){ %>
                        <button id="cleric" onclick="rollSave();">Restore</button>
                    <% } %>
                    <span id="hidden-patchlist-id" class="hidden"><%= project.edits %></span>
                <% } %>
                    <div id="versions">
                        Version <span id="revision-version-count"><%= project.version %></span> of <span id="current-version-count"><%= project.version %></span>
                    </div>
                <% if(currentUser && currentUser.username == "lavra"){ %>
                    <div id="revision-display">
                        <div id="revision-metadata"></div>
                        <div id="revision-text"></div>
                    </div>
                </div>

            <% } %>
        </li>
        <% if(project.creator){ %>
            <li id="creation">This project was created by <a href="<%= `users/${project.creator.username}` %>"><%= project.creator.username %></a> on <%= new Intl.DateTimeFormat('en-US', {year: 'numeric', month: 'numeric', day: 'numeric'}).format(project.creationDate) %></li>
        <% } %>
        <li id="designers">
            Designers: 
            <% for(let i = 0; i < project.designers.length -1; i++){ %>
                <a href="<%= `/users/${project.designers[i].username}` %>"><%= project.designers[i].username %></a>, 
            <% } %>
            <% if(project.designers.length > 1){ %>
                and 
            <% } if(project.designers.length > 0){ %>
            <a href="<%= `/users/${project.designers[project.designers.length-1].username}` %>"><%= project.designers[project.designers.length-1].username %></a>.
            <% } else { %>
                none.
            <% } %>
        </li>
        <hr>
        <li id="issues">
            <h2>Issues that <%= project.name %> addresses</h2>
            <% if(project.issues && project.issues.edges.length > 0 ) { %>
                <p>The Magnova community says <%= project.name %> addresses the following issues.
                <% if(currentUser) { %>
                    If you agree that <%= project.name %> will help address a given issue below, press the "Helps" button next to it. If you think the issue will NOT be helped with this project, click the "Misses" button.
                <% } else { %>
                    (Registered users can upvote/downvote these connections.)
                <% } %>
                </p>
            <% } %>
                <div id="connections-are-empty">No links here yet! <% if(!currentUser){ %>Log in to link this project to an issue. <% } else { %> Help this project get seen by connecting it to the issues it addresses: <% } %> </div>
                <div id="connections-container">
                    <div id="issue-connections">
                    </div>
                    <% if(currentUser) { %>
                        <div id="issue-searchbar">
                            <div class="searchbar-heading">Link project "<span id="link-source"><%= project.name %></span>" to an issue:</div>
                            <input type="text">
                            <div id="found-issue-links"></div>
                        </div>
                        <div id="issue-submission">
                            <h2>
                                Identify a new issue
                            </h2>	
                            <div id="issue-submitter">
                                <form action="/issue" method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Issue name" name="issue[name]">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Image URL" name="issue[image]">
                                    </div>
                                    <button type="submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
        <!-- <h2>Backend Data</h2>
        <% let keys = ["name", "image", "info", "tags", "creator", "creationDate", "designers", "volunteers", "talkpage", "harms", "resources", "implementations", "issues", "tasks", "completionRequirements"]; %>
        <% for(key of keys){ %>
            <li><%= key %> : <%= project[key] %></li>
        <% } %>
        <p class="hidden projectID"><%= project._id %></p>
        </ul> -->
        <hr>
        <li id="tasks">
            <h2>Tasks that make up this project</h2>
            <div id="tasks-container" class="<%= (project.tasks && project.tasks.edges.length > 0) ? "" : "hidden" %>">
                <div id="task-viewer" class="minimized">
                    <div id="task-buttons" class="hidden">
                        <span id="task-return-message"></span>
                        <a id="task-delete-button" onclick="deleteActiveTask();"><button>Delete</button></a>
                        <a id="task-edit-button" onclick="toggleTaskEditing();"><button>Edit task</button></a>
                        <a id="task-cancel-button" onclick="stopTaskEditing();" class="hidden"><button>Cancel</button></a>
                        <a id="task-discuss-button"><button>Discuss</button></a>
                        <a id="task-unload-button" onclick="displayThisTask();"><button>Unload</button></a>
                    </div>
                    <div id="task-display">
                        <em>Viewing task:</em>
                        <div id="task-name">
                            <h3 class="task-data">None</h3>
                        </div>
                        <div id="task-info-container">
                            <div id="task-info-text-container" class="task-data">
                                <div id="task-info-text"></div>
                            </div>
                            <div id="task-info-editor-container" class="hidden task-input"></div>
                        </div>
                        <div id="task-completion">
                            <h4>Completion requirements:</h4>
                            <div class="task-data">
                                <p>None</p>
                            </div>
                        </div>
                        <div id="task-creation">
                            <p class="task-data"></p>
                        </div>
                    </div>
                </div>
                <ul id="task-list">
                    <% for(task of project.tasks.edges){ %>
                        <li><%= task.vertex.name %></li>
                    <% } %>
                </ul>
            </div>
        
            <p id="tasks-empty" class="<%= (project.tasks && project.tasks.edges.length === 0) ? "" : "hidden" %>">Nothing here yet! 
            <% if(currentUser){ %> 
                Why don't you create a new task for this project?
            <% } else { %>
                Register or log in to create tasks for this project.
            <% } %>
            </p>
            
            <% if(currentUser){ %>
                <hr>
                <div id="task-submission">
                    <form>
                        <div id="task-submitter">
                            <h2>Create task:</h2>
                            <h4>What is the task? Give it a straightforward name.</h4>
                            <input type="text" placeholder="Task name" name="name">
                            <h4>What are the completion requirements for this task? How will completion be measured, proven, and disproven?</h4>
                            <input type="text" placeholder="Completion requirements" name="completionRequirements">
                            <em>You can add a description for this task once you create it.</em>
                        </div>
                        <button type="submit">
                            Submit
                        </button>
                    </form>
                </div>
            <% } %>
        </li>
        <hr>
        <div id="qr">
            <img src=<%= `https://api.qrserver.com/v1/create-qr-code/?data=${encodeURI(currentHost + currentURL)}&amp;size=100x100` %> alt="" title="<%= project.name %>" />
            <h3>QR Code</h3>
            <p>This QR code links to this page. Print stickers, add it to fliers, or chalk it onto your driveway.</p>
        </div>
        
    </div>
    <!-- <a href=<%= `report/project/${project._id}` %>><button>Report Project</button></a> -->


<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/wiki.js"></script>
<script src="https://cdn.tiny.cloud/1/f7o04qadc9hhjre2my3ep3ae1qdzax2od04t9ncrm7wold54/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="scripts/TextMerger.js"></script>
<script src="scripts/google_diff.js"></script>
<script src="scripts/wikiEditor.js"></script>
<script src="scripts/projectManager.js"></script>
<%- include("../partials/footer") %>