<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Orbitron:wght@500;900&family=Oxygen:wght@400;700&family=Comfortaa:wght@400;700&family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="banner"></div>
<svg id="header-svg">
        
    <foreignObject>
        <div id="header" xmlns="http://www.w3.org/1999/xhtml">
            <div id="pfp-container">
                <img id="profile-picture" onclick="d3.select('#pfp-container').classed('qr-up', !d3.select('#pfp-container').classed('qr-up'));" class="round mutable data" src="<%= shownUser.pfpLink || '/assets/default_avatar.png' %>" alt="Profile Picture">
                <img id="user-qr" onclick="d3.select('#pfp-container').classed('qr-up', !d3.select('#pfp-container').classed('qr-up'));" src=<%= `https://api.qrserver.com/v1/create-qr-code/?data=${encodeURI(currentHost + currentURL)}&amp;size=200x200` %> alt="" title="<%= shownUser.username %>'s QR code" />
            </div>
            <div id="header-main">
                <div id="names">
                    <h1 class="preferred-name mutable data"><%= shownUser.preferredName || "Preferred Name" %></h1>
                    <h3 class="handle">@ <%= shownUser.username %></h3>
                </div>
                <div id="badges">
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                </div>
            </div>
        </div>
    </foreignObject>
    <line class="starlight" x1="130" x2="312" y1="125" y2="188"></line>
    <line class="starlight" x1="312" x2="412" y1="188" y2="188"></line>
    <line class="starlight" x1="412" x2="512" y1="188" y2="188"></line>
    <line class="starlight" x1="512" x2="612" y1="188" y2="188"></line>
    <line class="starlight" x1="612" x2="712" y1="188" y2="188"></line>
</svg>

<div class="expanded" id="allContent">
    <% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
        <div id="email-box">
            <div id="email-display" class="mutable data"><%= currentUser.email %></div>
        </div>
        <div id="editing-block">
            <span id="return-message"></span>
            <a id="edit-button" onclick="toggleEditing();"><button>Edit page</button></a>
            <a id="cancel-button" onclick="stopEditing();" class="hidden"><button>Cancel</button></a>
        </div>
    <% } %>
    <div id="scores">
        <% let voteNumber = 0; for(voteSet of shownUser.edgeVotes){ voteNumber += voteSet.targets.length}; for(voteSet of shownUser.projectVotes){ voteNumber += voteSet.targets.length }; %>
        <p><em>Votes cast: <%= voteNumber %></em></p>
    </div>
    <div id="bio">
        <div id="bio-text-container" class="mutable data">
            <div id="bio-text"><%- shownUser.bio %></div>
        </div>
        <% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
            <form id="bio-editor-container" name="bio-form" class="hidden mutable">
                <input type="text" id="bio-editor" name="bio-html"></input>
            </form>
        <% } %>
    </div>
    <div id="creations">
        <div>
            <h2>
                <%= shownUser.issues.length %> Issues <%= shownUser.preferredName || shownUser.username %> has identified:
            </h2>    
            <ul id="identified-issues">
                <% for(issue of shownUser.issues){ %>
                    <li><a href=<%= `wiki/${issue._id}` %>><%= issue.name %></a></li>
                <% } %>
            </ul>
        </div>
        <div>
            <h2>
                <%= shownUser.projects.length %> Projects <%= shownUser.preferredName || shownUser.username %> has created:
            </h2>  
            <ul id="created-projects">
                <% for(project of shownUser.projects){ %>
                    <li><a href=<%= `project/${project._id}` %>><%= project.name %></a></li>
                <% } %>
            </ul>
        </div>
    </div>
<% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.tiny.cloud/1/f7o04qadc9hhjre2my3ep3ae1qdzax2od04t9ncrm7wold54/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/scripts/profileEditor.js"></script>
    
<% } %>

<h2>
    Recent forum activity (<%= shownUser.comments.length %> comments made)
</h2>
    <% for(let i = 0; i < 10 && i < shownUser.comments.length; i++) { let thisComment = shownUser.comments[shownUser.comments.length - i -1 ]; %>
        <a href=<%= `/talk/comment/${thisComment._id}` %>>
            <div class="comment"><div class="comment-text">
                <% if(thisComment.text.length <= 300) { %>
                    <%- thisComment.text %>
                <% } else { %>
                    <%- thisComment.text.slice(0, 298) + "..." %>
                <% } %>
            </div></div>
        </a>
    <% } %>
<%- include("../partials/footer") %>