<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Orbitron:wght@500;900&family=Oxygen:wght@400;700&family=Comfortaa:wght@400;700&family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="banner"></div>
<svg id="header-svg">
        
    <foreignObject>
        <div id="header" xmlns="http://www.w3.org/1999/xhtml">
            <div id="pfp-container">
                <img id="profile-picture" class="round mutable data" src="<%= shownUser.pfpLink %>" alt="Profile Picture">
            </div>
            <div id="header-main">
                <div id="names">
                    <h1 class="preferred-name mutable data"><%= shownUser.preferredName || "Preferred Name" %></h1>
                    <h3 class="handle">@ <%= shownUser.username %></h3>
                </div>
                <div id="badges">
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                    <div class="round badge"></div>
                </div>
            </div>
        </div>
    </foreignObject>
    <line class="starlight" x1="130" x2="312" y1="125" y2="188"></line>
    <line class="starlight" x1="312" x2="412" y1="188" y2="188"></line>
    <line class="starlight" x1="412" x2="512" y1="188" y2="188"></line>
    <line class="starlight" x1="512" x2="612" y1="188" y2="188"></line>
    <line class="starlight" x1="612" x2="712" y1="188" y2="188"></line>
</svg>

<div class="expanded" id="allContent">
    <% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
        <div id="email-box">
            <div id="email-display" class="mutable data"><%= currentUser.email %></div>
        </div>
        <div id="editing-block">
            <span id="return-message"></span>
            <a id="edit-button" onclick="toggleEditing();"><button>Edit page</button></a>
            <a id="cancel-button" onclick="stopEditing();" class="hidden"><button>Cancel</button></a>
        </div>
    <% } %>
    <div id="bio">
        <div id="bio-text-container" class="mutable data">
            <div id="bio-text"><%- shownUser.bio %></div>
        </div>
        <% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
            <form id="bio-editor-container" name="bio-form" class="hidden mutable">
                <input type="text" id="bio-editor" name="bio-html"></input>
            </form>
        <% } %>
    </div>
<h2>
    Issues <%= shownUser.preferredName %> has identified:
</h2>    
<ul>
    <% for(issue of shownUser.issues){ %>
        <li><a href=<%= `wiki/${issue._id}` %>><%= issue.name %></a></li>
    <% } %>
</ul>
<% if(currentUser && String(shownUser._id) === String(currentUser._id)){ %>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.tiny.cloud/1/f7o04qadc9hhjre2my3ep3ae1qdzax2od04t9ncrm7wold54/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/scripts/profileEditor.js"></script>
    
<% } %>

<%- include("../partials/footer") %>